/** @format */

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

  font-family: "Inspiration", cursive, "Quicksand", sans-serif;
  line-height: 2;
}

.landing-page {
  background-color: rgb(127, 163, 175);

  height: 100vh;
  width: 100vw;
}

.landing-title {
  background-color: rgb(241, 246, 247);
  color: rgb(49, 47, 47);

  border-bottom: 2px solid black;
  border-image: linear-gradient(to right, #000 0%, rgb(87, 202, 76) 50%) 100% 1;

  padding: 20px;
  margin: 0%;

  font-family: "Quicksand", sans-serif;

  display: flex;
  justify-content: center;
}

.questions-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: transparent;
}

.questions {
  background-color: rgb(194, 214, 221);
  padding: 10px;
  margin: 10px 0px;

  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-image: linear-gradient(to right, #000 0%, rgb(87, 202, 76) 50%) 100% 1;
}

.question-rightside {
  background-image: url("./images/shadowy_figure.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  height: 290px;
  width: 250px;

  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-image: linear-gradient(to right, #000 0%, rgb(87, 202, 76) 50%) 100% 1;
}

ul {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;

  list-style: none;
  color: rgb(49, 47, 47);

  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  font-size: 20px;
  padding: 6px;
  margin: 4px;
}

.detective-icon {
  font-size: 60px;
}

.text-div {
  font-family: "Quicksand", sans-serif;
}

.text-div-title {
  padding-bottom: 6px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-image: linear-gradient(to right, #000 0%, rgb(87, 202, 76) 50%) 100% 1;
}

.text-div p {
  font-size: 20px;
}

/* Footer */

footer {
  font-family: "Quicksand", sans-serif;
  background-color: rgb(74, 98, 105);

  height: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.half-border-top {
  color: whitesmoke;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-image: linear-gradient(to right, #000 0%, rgb(87, 202, 76) 50%) 100% 1;
}

address {
  padding: 10px;
}
